{% comment %} Determine language-agnostic path for hreflang mapping {% endcomment %}
{% assign page_path = page.url | default: "/" %}
{% assign is_multilingual_page = false %}

{% if page_path == "/" or page_path contains "/ru/" or page_path contains "/en/" or page_path contains "/ua/" or page_path contains "/es/" %}
  {% assign is_multilingual_page = true %}
{% endif %}

{% assign langless_path = page_path %}
{% if page_path contains "/en/" %}
  {% assign langless_path = page_path | remove_first: "/en" %}
{% elsif page_path contains "/ru/" %}
  {% assign langless_path = page_path | remove_first: "/ru" %}
{% elsif page_path contains "/ua/" %}
  {% assign langless_path = page_path | remove_first: "/ua" %}
{% elsif page_path contains "/es/" %}
  {% assign langless_path = page_path | remove_first: "/es" %}
{% endif %}

{% if langless_path == "" %}
  {% assign langless_path = "/" %}
{% endif %}

{% if langless_path == "/" %}
  {% assign alt_en = "/" %}
  {% assign alt_ru = "/ru/" %}
  {% assign alt_ua = "/ua/" %}
  {% assign alt_es = "/es/" %}
{% else %}
  {% assign alt_en = "/en" | append: langless_path %}
  {% assign alt_ru = "/ru" | append: langless_path %}
  {% assign alt_ua = "/ua" | append: langless_path %}
  {% assign alt_es = "/es" | append: langless_path %}
{% endif %}

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5VRZCZ68');</script>
<!-- End Google Tag Manager -->

<!-- favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<link rel="shortcut icon" href="/favicon.ico">
<meta name="theme-color" content="#ffffff">

<!-- Hreflang alternate links -->
{% if is_multilingual_page %}
<link rel="alternate" hreflang="en" href="{{ site.url }}{{ alt_en }}">
<link rel="alternate" hreflang="x-default" href="{{ site.url }}{{ alt_en }}">
<link rel="alternate" hreflang="ru" href="{{ site.url }}{{ alt_ru }}">
<link rel="alternate" hreflang="uk" href="{{ site.url }}{{ alt_ua }}">
<link rel="alternate" hreflang="es" href="{{ site.url }}{{ alt_es }}">
{% endif %}

<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js-eu1.hs-scripts.com/145459200.js"></script>
<!-- End of HubSpot Embed Code -->
