<div id="gestorFormContainer1" style="display: none;">
  <div id="gestorForm1">
    <script charset="utf-8" type="text/javascript" src="//js-eu1.hsforms.net/forms/embed/v2.js"></script>
    <script>
      hbspt.forms.create({
        region: "eu1",
        portalId: "145459200",
        formId: "ae793c60-715a-4394-b566-081c31f897eb"
      });
    </script>

    <script>
      document.getElementById("showFormButton1").onclick = function(event) {
        event.preventDefault();
        var formContainer1 = document.getElementById("gestorFormContainer1");

        if (formContainer1.style.display === "none") {
          formContainer1.style.display = "block";
        } else {
          formContainer1.style.display = "none";
        }
      };
    </script>

  </div>
</div>
