<div id="gestorFormContainerDenis" style="display: none;">
  <div id="gestorFormDenis">
    <script charset="utf-8" type="text/javascript" src="//js-eu1.hsforms.net/forms/embed/v2.js"></script>
    <script>
      hbspt.forms.create({
        portalId: "145459200",
        formId: "ae793c60-715a-4394-b566-081c31f897eb"
      });
    </script>

    <script>
      document.getElementById("showFormButtonDenis").onclick = function(event) {
        event.preventDefault();
        var formContainerDenis = document.getElementById("gestorFormContainerDenis");

        if (formContainerDenis.style.display === "none") {
          formContainerDenis.style.display = "block";
        } else {
          formContainerDenis.style.display = "none";
        }
      };
    </script>

  </div>
</div>
